<div class="col text-center">
    <div class="card cardCount" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-white">Kullanıcı Sayısı</h5>
            <strong class="card-text text-white">@ViewBag.userCount</strong>
        </div>
    </div>
</div>

